<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Affordable_AIO_Bot.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Affordable_AIO_Bot.My.MySettings>
            <setting name="Version" serializeAs="String">
                <value>Version 1.0.0.0</value>
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value>Copyright © 2016 Affordable All-In-One Bot. All Rights Reserved.</value>
            </setting>
            <setting name="Proxy" serializeAs="String">
                <value>Enter ONE PROXY PER LINE with the following format:

IP:Port
OR
IP:Port:User:Pass

Double left-click on this box to clear.</value>
            </setting>
            <setting name="Country" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>United States</string>
                        <string>Åland Islands</string>
                        <string>Afghanistan</string>
                        <string>Albania</string>
                        <string>Algeria</string>
                        <string>American Samoa</string>
                        <string>Andorra</string>
                        <string>Angola</string>
                        <string>Anguilla</string>
                        <string>Antarctica</string>
                        <string>Antigua and Barbuda</string>
                        <string>Argentina</string>
                        <string>Armenia</string>
                        <string>Aruba</string>
                        <string>Australia</string>
                        <string>Austria</string>
                        <string>Azerbaijan</string>
                        <string>Bahamas</string>
                        <string>Bahrain</string>
                        <string>Bangladesh</string>
                        <string>Barbados</string>
                        <string>Belarus</string>
                        <string>Belgium</string>
                        <string>Belize</string>
                        <string>Benin</string>
                        <string>Bermuda</string>
                        <string>Bhutan</string>
                        <string>Bolivia</string>
                        <string>Bonaire, Sint Eustatius and Saba</string>
                        <string>Bosnia and Herzegovina</string>
                        <string>Botswana</string>
                        <string>Bouvet Island</string>
                        <string>Brazil</string>
                        <string>British Indian Ocean Territory</string>
                        <string>British Virgin Islands</string>
                        <string>Brunei</string>
                        <string>Bulgaria</string>
                        <string>Burkina Faso</string>
                        <string>Burundi</string>
                        <string>Côte d'Ivoire</string>
                        <string>Cambodia</string>
                        <string>Cameroon</string>
                        <string>Canada</string>
                        <string>Cape Verde</string>
                        <string>Cayman Islands</string>
                        <string>Central African Republic</string>
                        <string>Chad</string>
                        <string>Chile</string>
                        <string>China</string>
                        <string>Christmas Island</string>
                        <string>Cocos Islands</string>
                        <string>Colombia</string>
                        <string>Comoros</string>
                        <string>Congo</string>
                        <string>Cook Islands</string>
                        <string>Costa Rica</string>
                        <string>Croatia</string>
                        <string>Cuba</string>
                        <string>Curaçao</string>
                        <string>Cyprus</string>
                        <string>Czech Republic</string>
                        <string>Denmark</string>
                        <string>Djibouti</string>
                        <string>Dominica</string>
                        <string>Dominican Republic</string>
                        <string>Ecuador</string>
                        <string>Egypt</string>
                        <string>El Salvador</string>
                        <string>Equatorial Guinea</string>
                        <string>Eritrea</string>
                        <string>Estonia</string>
                        <string>Ethiopia</string>
                        <string>Falkland Islands</string>
                        <string>Faroe Islands</string>
                        <string>Fiji</string>
                        <string>Finland</string>
                        <string>France</string>
                        <string>French Guiana</string>
                        <string>French Polynesia</string>
                        <string>French Southern Territories</string>
                        <string>Gabon</string>
                        <string>Gambia</string>
                        <string>Georgia</string>
                        <string>Germany</string>
                        <string>Ghana</string>
                        <string>Gibraltar</string>
                        <string>Greece</string>
                        <string>Greenland</string>
                        <string>Grenada</string>
                        <string>Guadeloupe</string>
                        <string>Guam</string>
                        <string>Guatemala</string>
                        <string>Guernsey</string>
                        <string>Guinea</string>
                        <string>Guinea-Bissau</string>
                        <string>Guyana</string>
                        <string>Haiti</string>
                        <string>Heard Island And McDonald Islands</string>
                        <string>Honduras</string>
                        <string>Hong Kong</string>
                        <string>Hungary</string>
                        <string>Iceland</string>
                        <string>India</string>
                        <string>Indonesia</string>
                        <string>Iran</string>
                        <string>Iraq</string>
                        <string>Ireland</string>
                        <string>Isle Of Man</string>
                        <string>Israel</string>
                        <string>Italy</string>
                        <string>Jamaica</string>
                        <string>Japan</string>
                        <string>Jersey</string>
                        <string>Jordan</string>
                        <string>Kazakhstan</string>
                        <string>Kenya</string>
                        <string>Kiribati</string>
                        <string>Kuwait</string>
                        <string>Kyrgyzstan</string>
                        <string>Laos</string>
                        <string>Latvia</string>
                        <string>Lebanon</string>
                        <string>Lesotho</string>
                        <string>Liberia</string>
                        <string>Libya</string>
                        <string>Liechtenstein</string>
                        <string>Lithuania</string>
                        <string>Luxembourg</string>
                        <string>Macao</string>
                        <string>Macedonia</string>
                        <string>Madagascar</string>
                        <string>Malawi</string>
                        <string>Malaysia</string>
                        <string>Maldives</string>
                        <string>Mali</string>
                        <string>Malta</string>
                        <string>Marshall Islands</string>
                        <string>Martinique</string>
                        <string>Mauritania</string>
                        <string>Mauritius</string>
                        <string>Mayotte</string>
                        <string>Mexico</string>
                        <string>Micronesia</string>
                        <string>Moldova</string>
                        <string>Monaco</string>
                        <string>Mongolia</string>
                        <string>Montenegro</string>
                        <string>Montserrat</string>
                        <string>Morocco</string>
                        <string>Mozambique</string>
                        <string>Myanmar</string>
                        <string>Namibia</string>
                        <string>Nauru</string>
                        <string>Nepal</string>
                        <string>Netherlands</string>
                        <string>Netherlands Antilles</string>
                        <string>New Caledonia</string>
                        <string>New Zealand</string>
                        <string>Nicaragua</string>
                        <string>Niger</string>
                        <string>Nigeria</string>
                        <string>Niue</string>
                        <string>Norfolk Island</string>
                        <string>North Korea</string>
                        <string>Northern Mariana Islands</string>
                        <string>Norway</string>
                        <string>Oman</string>
                        <string>Pakistan</string>
                        <string>Palau</string>
                        <string>Palestine</string>
                        <string>Panama</string>
                        <string>Papua New Guinea</string>
                        <string>Paraguay</string>
                        <string>Peru</string>
                        <string>Philippines</string>
                        <string>Pitcairn</string>
                        <string>Poland</string>
                        <string>Portugal</string>
                        <string>Puerto Rico</string>
                        <string>Qatar</string>
                        <string>Reunion</string>
                        <string>Romania</string>
                        <string>Russia</string>
                        <string>Rwanda</string>
                        <string>Saint Barthélemy</string>
                        <string>Saint Helena</string>
                        <string>Saint Kitts And Nevis</string>
                        <string>Saint Lucia</string>
                        <string>Saint Martin</string>
                        <string>Saint Pierre And Miquelon</string>
                        <string>Saint Vincent And The Grenadines</string>
                        <string>Samoa</string>
                        <string>San Marino</string>
                        <string>Sao Tome And Principe</string>
                        <string>Saudi Arabia</string>
                        <string>Senegal</string>
                        <string>Serbia</string>
                        <string>Seychelles</string>
                        <string>Sierra Leone</string>
                        <string>Singapore</string>
                        <string>Sint Maarten (Dutch part)</string>
                        <string>Slovakia</string>
                        <string>Slovenia</string>
                        <string>Solomon Islands</string>
                        <string>Somalia</string>
                        <string>South Africa</string>
                        <string>South Georgia And The South Sandwich Islands</string>
                        <string>South Korea</string>
                        <string>South Sudan</string>
                        <string>Spain</string>
                        <string>Sri Lanka</string>
                        <string>Sudan</string>
                        <string>Suriname</string>
                        <string>Svalbard And Jan Mayen</string>
                        <string>Swaziland</string>
                        <string>Sweden</string>
                        <string>Switzerland</string>
                        <string>Syria</string>
                        <string>Taiwan</string>
                        <string>Tajikistan</string>
                        <string>Tanzania</string>
                        <string>Thailand</string>
                        <string>The Democratic Republic Of Congo</string>
                        <string>Timor-Leste</string>
                        <string>Togo</string>
                        <string>Tokelau</string>
                        <string>Tonga</string>
                        <string>Trinidad and Tobago</string>
                        <string>Tunisia</string>
                        <string>Turkey</string>
                        <string>Turkmenistan</string>
                        <string>Turks And Caicos Islands</string>
                        <string>Tuvalu</string>
                        <string>U.S. Virgin Islands</string>
                        <string>Uganda</string>
                        <string>Ukraine</string>
                        <string>United Arab Emirates</string>
                        <string>United Kingdom</string>
                        <string>United States Minor Outlying Islands</string>
                        <string>Uruguay</string>
                        <string>Uzbekistan</string>
                        <string>Vanuatu</string>
                        <string>Vatican</string>
                        <string>Venezuela</string>
                        <string>Vietnam</string>
                        <string>Wallis And Futuna</string>
                        <string>Western Sahara</string>
                        <string>Yemen</string>
                        <string>Zambia</string>
                        <string>Zimbabwe</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USState" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Alaska</string>
                        <string>Alabama</string>
                        <string>Arkansas</string>
                        <string>American Samoa</string>
                        <string>Arizona</string>
                        <string>California</string>
                        <string>Colorado</string>
                        <string>Connecticut</string>
                        <string>Dist Of Columbia</string>
                        <string>Delaware</string>
                        <string>Florida</string>
                        <string>Micronesia</string>
                        <string>Georgia</string>
                        <string>Guam</string>
                        <string>Hawaii</string>
                        <string>Iowa</string>
                        <string>Idaho</string>
                        <string>Illinois</string>
                        <string>Indiana</string>
                        <string>Kansas</string>
                        <string>Kentucky</string>
                        <string>Louisiana</string>
                        <string>Massachusetts</string>
                        <string>Maryland</string>
                        <string>Maine</string>
                        <string>Marshall Islands</string>
                        <string>Michigan</string>
                        <string>Minnesota</string>
                        <string>Missouri</string>
                        <string>Northern Mariana Islands</string>
                        <string>Mississippi</string>
                        <string>Montana</string>
                        <string>North Carolina</string>
                        <string>North Dakota</string>
                        <string>Nebraska</string>
                        <string>New Hampshire</string>
                        <string>New Jersey</string>
                        <string>New Mexico</string>
                        <string>Nevada</string>
                        <string>New York</string>
                        <string>Ohio</string>
                        <string>Oklahoma</string>
                        <string>Oregon</string>
                        <string>Pennsylvania</string>
                        <string>Puerto Rico</string>
                        <string>Palau (Micronesia)</string>
                        <string>Rhode Island</string>
                        <string>South Carolina</string>
                        <string>South Dakota</string>
                        <string>Tennessee</string>
                        <string>Texas</string>
                        <string>US Minor Outlying Islands</string>
                        <string>Utah</string>
                        <string>Virginia</string>
                        <string>Virgin Islands Of The United States</string>
                        <string>Vermont</string>
                        <string>Washington</string>
                        <string>Wisconsin</string>
                        <string>West Virginia</string>
                        <string>Wyoming</string>
                        <string>Armed Forces America</string>
                        <string>Armed Forces Europe</string>
                        <string>Armed Forces Pacific</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CardType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>American Express</string>
                        <string>Discover</string>
                        <string>Mastercard</string>
                        <string>Visa</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Month" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>01</string>
                        <string>02</string>
                        <string>03</string>
                        <string>04</string>
                        <string>05</string>
                        <string>06</string>
                        <string>07</string>
                        <string>08</string>
                        <string>09</string>
                        <string>10</string>
                        <string>11</string>
                        <string>12</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Year" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>2016</string>
                        <string>2017</string>
                        <string>2018</string>
                        <string>2019</string>
                        <string>2020</string>
                        <string>2021</string>
                        <string>2022</string>
                        <string>2023</string>
                        <string>2024</string>
                        <string>2025</string>
                        <string>2026</string>
                        <string>2027</string>
                        <string>2028</string>
                        <string>2029</string>
                        <string>2030</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Site" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Supreme</string>
                        <string>Footlocker</string>
                        <string>Footaction</string>
                        <string>Eastbay</string>
                        <string>Champssports</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PhoneCarrier" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AT&amp;T</string>
                        <string>AllTell</string>
                        <string>Boost</string>
                        <string>CellularSouth</string>
                        <string>CentennialWireless</string>
                        <string>CincinnatiBell</string>
                        <string>CricketWireless</string>
                        <string>MetroPCS</string>
                        <string>Powertel</string>
                        <string>Qwest</string>
                        <string>Rogers</string>
                        <string>Sprint</string>
                        <string>Suncom</string>
                        <string>T-Mobile</string>
                        <string>Telus</string>
                        <string>U.S.Cellular</string>
                        <string>Verizon</string>
                        <string>VirginMobileUSA</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Affordable_AIO_Bot.My.MySettings>
    </applicationSettings>
</configuration>